.gradient-background {
    background: linear-gradient(300deg, #00ffb3, #4cf9ffc8, #4fb477);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.container1{
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#hero .lead{
    color:white;
}

#profile{
    border-radius: 2%;
    border: 5px solid rgba(11, 11, 11, 0.4);
}